.card{
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    margin: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}

.card__name{
    color: white;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.card__image{
    object-fit: contain;
    height: auto;
    border-radius: 10px;
    height: 100%;
    margin-bottom:15px;
}

.card > button {
    display: flex;
    padding: 10px;
    font-weight: 600;
    background-color: #F0141E;
    border: 1px solid;
    border-color: white;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
    
}